<div class="header">Book Store</div>
<div class="align-center">
    <div class="container">
        <form [formGroup]="form" (ngSubmit) = onSubmit() class="form">
            <div *ngIf="isNeedToSignUp" class="message">you need to sign-up first</div>
            <div>
                <label for="Email">Email: </label>
                <input type="text" id = "Email" class="form-control" formControlName= "Email">
                <div *ngIf="!this.form.get('Email')?.valid && this.form.get('Email')?.touched" class="error-message">enter your Email</div>
            </div>
            <br>
            <div>
                <label for="password">password: </label>
                <input type="password" id = "password" class="form-control" formControlName = "password">
                <div *ngIf="!this.form.get('password')?.valid && this.form.get('password')?.touched" class="error-message">enter password</div>
            </div>
            <br>
            <div class="flex-row">
                <button type="submit" [disabled] = "!form.valid">Log-in</button>
            </div>
        </form>
        <div class="link-sign-up" (click) = 'onClickSignUp()'>Sign-up</div>
    </div>
</div>
