<div class="header">
    <div>Cart</div>
    <div class="link" (click)="onClickToLogin()">
        Log-in/Sign-up
        <img src="https://vignette.wikia.nocookie.net/panzoid/images/0/01/AccountLogo.png/revision/latest?cb=20170205042726" class="img">
    </div>
</div>

<div *ngIf="!isThereBooksInCart" class="message">There are no books in the cart.</div>
<div *ngFor="let cartItem of listBooksInCart" class="books-container">
    <div class="book-container">
        <img [src]="cartItem.book.img" class="book-img">
        <div class="details">
            <div class="book-name">{{cartItem.book.name}}</div>
            <div>author: {{cartItem.book.author}}</div>
            <div class="book-price">Price: {{cartItem.book.price}}</div>
            <div>quantity: x{{cartItem.quantity}}</div>
        </div>
        <button (click)="RemoveItem(cartItem)">Remove</button>
    </div>
</div>
<div *ngIf="isThereBooksInCart" class="total-pay">Total Payment: {{totalPay}}</div>